{extend name='admin@iframe'}

{block name="content"}
<div class="think-box-shadow">

	<fieldset>
		<legend class="layui-bg-cyan">条件搜索</legend>
		<form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">
			<div class="layui-form-item layui-inline">
				<div class="layui-input-inline">
					<input name="title" value="{$Think.get.title|default=''}" id="title" placeholder="请输入新闻名称" class="layui-input">
				</div>
			</div>
			{notempty name='newscate'}
			<div class="layui-form-item layui-inline">
				<div class="layui-input-inline">
					<select class="layui-select" name="cate_id" id="cate_id">
						<option selected value="">--全部分类--</option>
						{foreach $newscate as $v}
						<!--{eq name='$Think.get.cate_id' value='$v.id.""'}-->
						<option selected value="{$v.id}">{$v.title}</option>
						<!--{else}-->
						<option value="{$v.id}">{$v.title}</option>
						<!--{/eq}-->
						{/foreach}
					</select>
				</div>
			</div>
			{/notempty}
			<div class="layui-form-item layui-inline">
				<button class="layui-btn layui-btn-primary" onclick="formsearch()"><i class="layui-icon">&#xe615;</i> 搜 索</button>
			</div>
		</form>
	</fieldset>
	<table class="layui-table" lay-skin="line">
		{notempty name='list'}
		<thead>
		<tr>
			<th class='' style="width:50px">新闻ID</th>
			<th class='' style="width:250px">新闻名称</th>
			<th class='' style="width:80px">新闻分类</th>
			<th class='' style="width:120px">创建时间</th>
			<th class=''></th>
		</tr>
		</thead>
		{/notempty}
		<tbody>
		{foreach $list as $key=>$vo}
		<tr>
			<td class=''>{$vo.id}</td>
			<td class=''>{$vo.title|mb_substr=0,30,'utf-8'}</td>
			<td class=''>{$vo.ctitle}</td>
			<td class=''>{$vo.create_at}</td>
			<td class=''>
				<a class="layui-btn layui-btn-danger layui-btn-sm" onclick="btnclick({$vo.id});">选 用</a>
			</td>
		</tr>
		{/foreach}
		</tbody>
	</table>

	{empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
<script>
	$(function () {
		$('.pagination a').each(function(i,v){
			$(v).removeAttr('data-open');
			$(v).removeAttr('onclick');
		})
	});

	layui.use(['form'], function(){
		var form = layui.form;
		form.render();
	});

	function formsearch(){
		var title=$('#title').val();var cate_id=$('#cate_id').val();
		location.href = "{:url('news')}?title="+title+"&cate_id="+cate_id;
	}

	//#selected_id 父页面回填输入框的ID
	function btnclick(selected_id){
		//window.parent.document.getElementById("longitude").value = selected_id;
		$("#jump_id",window.parent.document).val(selected_id);
		var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
		parent.layer.close(index); //再执行关闭
	}
</script>
{/block}
