<fieldset>
    <legend>条件搜索</legend>
    <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">反馈人</label>
            <div class="layui-input-inline">
                <input name="username" value="{$Think.get.username|default=''}" placeholder="请输入反馈人" class="layui-input">
            </div>
        </div>
		<div class="layui-form-item layui-inline">
				<div class="layui-input-inline">
					<select class="layui-select" name="platform_type" id="platform_type">							
						<option selected value="">--全部平台--</option>
						{foreach ['1'=>'展厅平台','2'=>'用户平台'] as $k=>$v}
						<!--{eq name='$Think.get.platform_type' value='$k.""'}-->
						<option selected value="{$k}">{$v}</option>
						<!--{else}-->
						<option value="{$k}">{$v}</option>
						<!--{/eq}-->
						{/foreach}
					</select>
				</div>
			</div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">反馈时间</label>
            <div class="layui-input-inline">
                <input data-date-range name="addtime" value="{$Think.get.addtime|default=''}" placeholder="请选择登录时间" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
        </div>
    </form>
    <script>form.render()</script>
</fieldset>